@import '~normalize.css';

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__container {
    display: flex;
    flex-direction: column;
}
